body {
    --slack-color: #3f0f40;
    overflow: hidden; /*prevent scroll bars*/
}
.app__body {
    display: flex;
    height: 100vh;
}
.homepage__open{
    color: black;
    padding: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    font-size: 14px;
}

